html,body{
    height: 100%;
    width: 100%;
}

nav{
    width: 100%;
    background-color: blue;
    display: inline-block;
}

img{
    height: 40px;
}

ul{
    list-style-type: none;
    display: inline-block;
}
nav li{
    display: inline-block;
    margin-right: 15px;
}

ul > li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: rgb(255,255,255);
}
.nav-right-section{
    float: right;
    background-color: blueviolet;
    text-align: right;
   }
.nav-middle-section{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    width: 40%;
}
